@model IEnumerable<MoneyMinder.Net.Models.Transaction>

@{
    ViewData["Title"] = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@User.Identity.Name's Transactions</h2>
<h3>Total : $@ViewBag.FundTotal</h3>

    <table class="table table-striped table-bordered">
        <tr>
            <th class="col-md-1">Date</th>
            <th class="col-md-1">Type</th>
            <th class="col-md-4">Description</th>
            <th class="col-md-2">Fund</th>
            <th class="col-md-2">Category</th>
            <th class="col-md-2">Transaction Amount</th>
        </tr>

        @foreach (var listTransaction in Model)
        {
            <tr class="list-group">
                <td>@Html.DisplayFor(modelTransaction => listTransaction.Date)</td>
                <td>@Html.DisplayFor(modelTransaction => listTransaction.Type)</td>
                <td>@Html.DisplayFor(modelTransaction => listTransaction.Description)</td>
                <td>@Html.DisplayFor(modelTransaction => listTransaction.Fund.Name)</td>
                <td>@Html.DisplayFor(modelTransaction => listTransaction.Category.Name)</td>
                <td><span>$</span>@Html.DisplayFor(modelTransaction => listTransaction.Amount)</td>
            </tr>
        }
    </table>

    <p>
        @Html.ActionLink("Create New Transaction", "Create", "Transaction")
    </p>

