@model IEnumerable<MoneyMinder.Net.Models.Fund>

@{
    ViewData["Title"] = "Fund";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>@User.Identity.Name's Funds</h2>
    </div>
    <div class="col-md-6">
        <h3>Total : $@ViewBag.UserTotal</h3>
    </div>
</div>

<p>@Html.ActionLink("Create New Fund", "Create", "Fund")</p>

@if (Model.Any())
{
        @foreach (var listFund in Model)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">@Html.ActionLink(listFund.Name, "Details", new { id = listFund.FundId })</div>
                    <div class="col-md-4">@Html.DisplayFor(modelFund => listFund.Total)</div>
                    <div class="col-md-4">
                        @Html.ActionLink("Edit", "Edit", new { id = listFund.FundId })
                        @if (!(ViewBag.UserTransactionIds.Contains(listFund.FundId)))
                        {
                             <span> | </span> @Html.ActionLink("Delete", "Delete", new { id = listFund.FundId })
                        }
                    
                    </div>
                </div>
             </div>
        }

    }
    else
    {
    <p>No funds have been added yet!</p>
    }
