@model IEnumerable<MoneyMinder.Net.Models.Fund>

@{
    ViewData["Title"] = "Fund";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@User.Identity.Name's Funds</h2>

@if (Model.Any())
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>

        @foreach (var listFund in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelFund => listFund.Name)
            </td>
            <td>
                $@Html.DisplayFor(modelFund => listFund.Total)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listFund.FundId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listFund.FundId })
            </td>
        </tr>
        }
    </table>
}
else
{
    <p>No funds have been added yet!</p>
}

<p>
    @Html.ActionLink("Create New Fund", "Create", "Fund")
</p>