@model IEnumerable<MoneyMinder.Net.Models.Fund>

@{
    ViewData["Title"] = "Fund";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>@User.Identity.Name's Funds</h2>
    </div>
    <div class="col-md-6">
        <h3>Total : $@ViewBag.UserTotal</h3>
    </div>
</div>

<p>@Html.ActionLink("Create New Fund", "Create", "Fund")</p>

@if (Model.Any())
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>

        @foreach (var listFund in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(listFund.Name, "Details", new { id = listFund.FundId })
            </td>
            <td>
                $@Html.DisplayFor(modelFund => listFund.Total)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listFund.FundId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listFund.FundId })
            </td>
        </tr>
        //<div class="row">
            //<div class="well-lg">
                //<div class="col-md-4">@Html.ActionLink(listFund.Name, "Details", new { id = listFund.FundId })</div>
                //<div class="col-md-4">$@Html.DisplayFor(modelFund => listFund.Total)</div>
            //</div>
        //</div>
        }
    </table>
}
else
{
    <p>No funds have been added yet!</p>
}