@model IEnumerable<MoneyMinder.Net.Models.Category>

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Categories</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var listCategory in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelCategory => listCategory.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listCategory.CategoryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listCategory.CategoryId })
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Create New Category", "Create", "Category")
</p>