@model IEnumerable<MoneyMinder.Net.Models.Category>

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@User.Identity.Name's Categories</h2>

<p>@Html.ActionLink("Create New Category", "Create", "Category")</p>

@if (Model.Any())
{
    @foreach (var listCategory in Model)
    {
        <ul class="categories">
            <li class="categories">
                <div class="col-md-2">@Html.DisplayFor(modelCategory => listCategory.Name)</div>
                <div class="col-md-2">
                    @Html.ActionLink("Edit", "Edit", new { id = listCategory.CategoryId })
                    @if (!(ViewBag.UserTransactionIds.Contains(listCategory.CategoryId)))
                    {
                        <span> | </span> @Html.ActionLink("Delete", "Delete", new { id = listCategory.CategoryId })
                    }
                </div>
               
            </li>
        </ul>
    }
}
else
{
    <p>No categories have been added yet!</p>
}