@using MoneyMinder.Net.Models
@model MoneyMinder.Net.Models.Transaction


@{
    ViewData["Title"] = "Transaction - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a new Transaction</h2>
<hr />

<form asp-action="Create">
    <div class="form-horizontal">
        <h3>Add a new Transaction</h3>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">

            <label asp-for="Date" class="col-md-2 control-label"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>

            <label asp-for="Type" class="col-md-2 control-label"></label>
            <select asp-for="Type" class="form-control">
                <option>Deposit</option>
                <option>Withdrawal</option>
            </select>

            <label asp-for="Amount" class="col-md-2 control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>

            <label asp-for="Description" class="col-md-2 control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>

            <label asp-for="FundId" class="col-md-2 control-label"></label>


            @*@Html.DropDownList("FundId", @ViewBag.FundId, String.Empty,new { @class = "form-control" })*@

            <select asp-for"FundId" class="form-control" id="fundId">
                @foreach (var fund in @ViewBag.FundId)
        {
            <option value=@fund.Value>@fund.Value</option>
}
            </select>



        </div>
    </div>
</form>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Date)<br />
    @Html.EditorFor(model => model.Date)<br />

    @Html.LabelFor(model => model.Type)<br />
    @Html.DropDownListFor(model => model.Type, new SelectList(new[]{"Deposit",
"Withdrawal"}))<br />

    @Html.LabelFor(model => model.Description)<br />
    @Html.EditorFor(model => model.Description)<br />

    @Html.LabelFor(model => model.FundId)<br />
    @Html.DropDownList("FundId")<br />

    @Html.LabelFor(model => model.CategoryId)<br />
    @Html.DropDownList("CategoryId")<br />

    @Html.LabelFor(model => model.Amount)<br />
    <span>$</span>@Html.EditorFor(model => model.Amount)<br />
    <span asp-validation-for="Amount" class="text-danger"></span>

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to Transactions", "Index")
