@model IEnumerable<MoneyMinder.Net.Models.Transaction>

@{
    ViewData["Title"] = "Transaction - Filtered";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>@User.Identity.Name's transactions</h2>
        <h4>from @ViewBag.FromDate.ToShortDateString() to @ViewBag.ToDate.ToShortDateString()</h4>
        @if (@ViewBag.FormFundId != 0)
        {
            <p>Fund: @ViewBag.FundName</p>
        }
        @if (@ViewBag.FormCategoryId != 0)
        {
            <p>Category: @ViewBag.CategoryName</p>
        }
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <h3>@ViewBag.FundName Total : $@ViewBag.UserTotal</h3>
    </div>
</div>

<table class="table">
    <tr>
        <th class="col-md-1">Date</th>
        <th class="col-md-1">Type</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-2">Fund</th>
        <th class="col-md-2">Category</th>
        <th class="col-md-2">Transaction Amount</th>
    </tr>

    @foreach (var listTransaction in Model)
    {
        <tr class="list-group">
            <td>@Html.DisplayFor(modelTransaction => listTransaction.Date)</td>
            <td>@Html.DisplayFor(modelTransaction => listTransaction.Type)</td>
            <td>@Html.DisplayFor(modelTransaction => listTransaction.Description)</td>
            <td>@Html.DisplayFor(modelTransaction => listTransaction.Fund.Name)</td>
            <td>@Html.DisplayFor(modelTransaction => listTransaction.Category.Name)</td>
            <td>
                @if (listTransaction.Amount < 0)
                {
                    <span>-</span>listTransaction.Amount = listTransaction.Amount * -1;
                }
                @Html.DisplayFor(modelTransaction => listTransaction.Amount)
            </td>
        </tr>
    }
</table>
