@model MoneyMinder.Net.Models.Transaction

@{
    ViewData["Title"] = "Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transfer Money Between Funds</h2>
<hr />

<form asp-action="Transfer">
    <div class="form-horizontal">

        <div class="form-group">

            <label asp-for="Date" class="col-md-2 control-label"></label>
            <input asp-for="Date" class="form-control" required/>
            <span asp-validation-for="Date"></span>

            <label asp-for="Amount" class="col-md-2 control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount"></span>

            <label asp-for="Description" class="col-md-2 control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description"></span>

            <label asp-for="CategoryId" class="col-md-2 control-label"></label>
            @Html.DropDownListFor(model => model.CategoryId, ViewBag.CategoryId as IEnumerable<SelectListItem>, new { @class = "form-control" })

            <label asp-for="FromFund" class="col-md-2 control-label"></label>
            <div class="form-group">
                <select class="form-control dropdownlist" name="FromFund" id="FromFundId">
                    @foreach (SelectListItem fund in ViewBag.FundId)
                    {
                        <option value="@(fund.Value)">@fund.Text</option>
                    }
                </select>
            </div>

            <label asp-for="ToFund" class="col-md-2 control-label"></label>
            <div class="form-group">
                <select class="form-control dropdownlist" name="ToFund" id="ToFundId">
                    @foreach (SelectListItem fund in ViewBag.FundId)
                    {
                        <option value="@(fund.Value)">@fund.Text</option>
                    }
                </select>
            </div>

        </div>
        <input type="submit" value="Transfer" class="btn btn-default" />
    </div>
</form>
